<div class="container">
    <div class="card bg-light">
        <br>
        <div class="text-center">
            <h2 style="font-size:30px;">Please Login or Create Account</h2>
        </div>

        <article class="card-body mx-auto" style="max-width: 400px;">
        	<form>
            	<div class="form-group input-group">
            		<div class="input-group-prepend">
            		    <span class="input-group-text"></span>
            		 </div>
                    <input name="" class="form-control" placeholder="UserName" type="text">
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                	<div class="input-group-prepend">
            		    <span class="input-group-text"></span>
            		</div>
                    <input class="form-control" placeholder="Password" type="password">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <!-- <a routerLink="/create" routerLinkActive="active">Go create</a><br> -->
                    <button type="button" class="btn btn-primary btn-block">Log In</button>
                    <button type="button" class="btn btn-primary btn-block" (click)="Click()">Create Account</button>

                    <button type="button" (click)="test()">test</button> say {{title_in_app}}
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
</div>  <!-- container -->
