<div class="container">
    <div class="card bg-light">
        <br>
        <div class="text-center">
            <h2 style="font-size:30px;">Please Login</h2>
        </div>

        <article class="card-body mx-auto" style="max-width: 400px;">
        	<form [formGroup] = "userForm">
            	<div class="form-group input-group">
            		<div class="input-group-prepend">
            		    <span class="input-group-text"></span>
            		 </div>
                    <input formControlName="userName" class="form-control" placeholder="UserName" type="text">
                    <div *ngIf="userForm.controls.userName.invalid && userForm.controls.userName.touched" class="a">
                        <div *ngIf="userForm.controls.userName.errors?.required">
                            <pre class="wrong_message">  Username cannot be empty!</pre>
                        </div>
                    </div>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                	<div class="input-group-prepend">
            		    <span class="input-group-text"></span>
            		</div>
                    <input formControlName="passwd" class="form-control" placeholder="Password" type="password">
                    <div *ngIf="userForm.controls.passwd.invalid && userForm.controls.passwd.touched" class="a">
                        <div *ngIf="userForm.controls.passwd.errors?.required">
                            <pre class="wrong_message">  Password cannot be empty!</pre>
                        </div>
                    </div>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <!-- <a routerLink="/create" routerLinkActive="active">Go create</a><br> -->
                    <button type="button" class="btn btn-primary btn-block" (click)="login()">Log In</button>
                    <button type="button" (click)="test()">test</button> say {{title_in_app}}
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
</div>  <!-- container -->
