<!--The content below is only a placeholder and can be replaced.-->
<div class="contain">
    <div style="text-align:center" class="jumbotron">
      <h1>
        Welcome to {{ title }}!
      </h1>

    </div>

    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Please login or sign up</h2>
            </div>

            <div class="panel-body">
                <form>
                    <input type="text" placeholder="UserName"><br>
                    <input type="text" placeholder="PassWord">
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <app-test1></app-test1>
</div>

<router-outlet></router-outlet>
