<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div style="text-align:center" class="jumbotron">
      <h1>
          <p style="font-size:60px;">Welcome to {{ title }}!</p>
      </h1>
    </div>

</div>  <!--  -->

<app-menu></app-menu>
<br>

<!-- <app-create></app-create> -->

<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">All Rights Reserved</h3>
    </div>
</article>

<router-outlet></router-outlet>
