<div class="container">
    <div class="card bg-light">
        <br>
        <div class="text-center">
            <h2 style="font-size:30px;">Please Create Account</h2>
        </div>

        <p>user password: {{string_passwd1}}</p>
        <p>repassword: {{string_passwd2}}</p>


        <article class="card-body mx-auto" style="max-width: 400px;">
        	<form>
                <div class="form-group">
                    <!-- username -->
                    <div class="form-group input-group">
                		<div class="input-group-prepend">
                		    <span class="input-group-text"></span>
                		 </div>
                        <input [formControl]="userForm.controls.userName" class="form-control" placeholder="UserName" type="text">
                        <div *ngIf="userForm.controls.userName.invalid && userForm.controls.userName.touched" class="a">
                            <div *ngIf="userForm.controls.userName.errors?.required">
                                <pre class="wrong_message">  Username cannot be empty!</pre>
                            </div>
                        </div>
                    </div> <!-- form-group// -->

                    <!-- password -->
                    <div class="form-group input-group">
                    	<div class="input-group-prepend">
                		    <span class="input-group-text"></span>
                		</div>
                        <input (keyup)="passwd1($event)" [formControl]="userForm.controls.passwd" class="form-control" placeholder="Password" type="password">
                        <div *ngIf="userForm.controls.passwd.invalid && userForm.controls.passwd.touched" class="a">
                            <div *ngIf="userForm.controls.passwd.errors?.required">
                                <pre class="wrong_message">  Password cannot be empty!</pre>
                            </div>
                        </div>
                    </div>

                    <!-- password2 -->
                    <div class="form-group input-group">
                    	<div class="input-group-prepend">
                		    <span class="input-group-text"></span>
                		</div>
                        <input (keyup)="passwd2($event)" [formControl]="userForm.controls.rePasswd" class="form-control" class="form-control" placeholder="Enter Password Again" type="password">
                        <div *ngIf="userForm.controls.rePasswd.invalid && userForm.controls.rePasswd.touched" class="a">
                            <div *ngIf="userForm.controls.rePasswd.errors?.required">
                                <pre class="wrong_message">  Password cannot be empty!</pre>
                            </div>
                        </div>
                        <div *ngIf="compare()">
                            <pre class="wrong_message">  Passwords must be same!</pre>
                        </div>
                    </div>

                    <!-- email -->
                    <div class="form-group input-group">
                    	<div class="input-group-prepend">
                		    <span class="input-group-text"></span>
                		</div>
                        <input [formControl]="userForm.controls.email" class="form-control" placeholder="Email" type="password">
                        <div *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched" class="a">
                        <!-- <div *ngIf="submitted && userForm.controls.email.errors" class="a"> -->
                            <div *ngIf="userForm.controls.email.errors.required">
                                <pre class="wrong_message">  Email cannot be empty!</pre>
                            </div>
                            <div *ngIf="userForm.controls.email.errors.pattern">
                                <pre class="wrong_message">   Format wrong!</pre>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-block" (click)="create_account()">Create Account</button>
                </div> <!-- form-group// -->

            </form>
        </article>
    </div>
</div>
